img.selected {
    border: 3px solid black;
    z-index: 10;
    opacity: 0.6;
}

.deck.screenshot.class-Shaman {
    background-color: rgb(62, 65, 239);
}

.deck.screenshot.class-Paladin {
    background-color: rgb(239, 236, 60);
}

.deck.screenshot.class-Rogue {
    background-color: rgb(80, 76, 78);
}

.deck.screenshot.class-Warrior {
    background-color: rgb(140, 12, 20);
}
.deck.screenshot.class-Hunter {
    background-color: rgb(33, 140, 52);
}
.deck.screenshot.class-Druid {
    background-color: rgb(140, 70, 40);
}
.deck.screenshot.class-Warlock {
    background-color: rgb(106, 39, 140);
}
.deck.screenshot.class-Mage {
    background-color: rgb(0, 153, 198);
}
.deck.screenshot.class-Priest {
    background-color: rgb(200, 199, 196);
}

.imagecontainer {
    width: 288px;
    height: 397px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.overlay {
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.remaining {
    font-style: italic;
}

.buttonover {
    position: absolute;
    left: 96px;
    top: 128px;
}

.unavailable {
    opacity: 0.3;
}

#picks {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 227px;
    height: 100%;
}

.deck {
    background: #eeeeee;
    border: 1px solid #dddddd;
    margin-bottom: 2px;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
    height: 25px ;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.deck-caption{
    padding: 0px;
    position: absolute;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    font-size: 12px;
    margin-left: -10px;
    margin-top: -1px;
    background: url('/images/cost-bg.png') no-repeat scroll 0px -1px rgba(0, 0, 0, 0);
}

.pull-left {
    float: left !important;
}

.deck-cost {
    margin-right: 0px;
    float: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
    text-align: center;
    width: 27px;
    font-size: 16px;
    padding: 2px 0px;
}

.pull-right {
    float: right !important;
}

.deck-pic {
    width: 85px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: -50px -75px;
    background-size: 200px 272px;
}

.deck-fade {

    /*
        background-image: -moz-linear-gradient(right center , rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.8), #EEEEEE);
        background-image:  linear-gradient(to right , #eeeeee 0%, transparent);
        */

    background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

    height: 100%;
    width: 40%;
}
